doctype html
head
	title= post.title or site.title
	load('/template/stylesheets/basic.css /template/stylesheets/main.scss?format=css')
body
	docs_path = 'docs/'
	{% from 'mixins' import no_cache_sidebar %}
	{{ no_cache_sidebar(docs_path) }}
	#main
		.content_body 
			if request.args.s
				h1 Results
				posts = get_data(type='post', path=docs_path, keywords=request.args.s, sort='position', limit=50)
				if posts
					ul.posts_found
						for post in posts
							li
								a(href='/read/{{post.url_path}}')= post.title
				else
					p Nothing Found
			elif request.path == '/'
				index_doc = get_doc(docs_path)
				if index_doc and index_doc.content
					{{ index_doc.content }}
				else
					p use <code>index.md</code> for your homepage.
			else
				post = post or category
				if post
					h1.title= post.title
					post.content.without_toc
				else
					raise_404
	script(type="text/javascript")
		function search(){
            if (document.getElementById('search_value').value){ location.href='http://'+location.host+'?s='+document.getElementById('search_value').value}
            else{ return false;}
        }
        window.onload = function(){ window.scroll(0, 0); }